<a href="/"> â† Back to Home</a>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <a href="{{order.food}}" class="lead">{{order.food}}</a>
        <small>{{order.createdAtFormatted}}</small>
        <p>{{order.author.username}}</p>
        <p>{{order.drink}}</p>
        <p>{{order.condiment}}</p>
    </div>
</div>