<a href="/"> ← Back to Home</a>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <a href="{{order.food}}" class="lead">{{order.food}}</a>
        <small>{{post.createdAtFormatted}}</small>
        <p>{{post.author.username}}</p>
        <p>{{post.drink}}</p>
        <p>{{post.condiment}}</p>
    </div>
</div>